* {
  box-sizing: border-box;
}

body {
  background-color: #3c5aa6;
  font-family: 'Press Start 2P';
}

.logo {
  display: grid;
  justify-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  animation-name: logo-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes logo-animation {
  50% {filter: drop-shadow(0 0 2rem rgb(255, 217, 0))}
}

.game-container {
  position: relative;
  padding: 16px;
  outline: 4px solid #ffcb05;
}

section {
  display: grid;
  justify-items: center;
  padding: 16px;
}

input[type=text] {
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 16px;
  font-family: 'Press Start 2P';
}

input[type=button] {
  background-color: #ffcb05;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 16px;
  font-family: 'Press Start 2P';
}

input[type=submit] {
  background-color: #ffcb05;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 16px;
  font-family: 'Press Start 2P';
}

input[input=button]:hover, button:hover {
  background-color: 4px solid #ffcd05db;
}

p {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

#img-win {
  position: relative;
  animation-name: img-win-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes img-win-animation {
  25% {top: 16px}
  50% {top: 32px}
  75% {top: 16px}
}

#img-lose {
  position: relative;
  animation-name: img-lose-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes img-lose-animation {
  25% {left: 16px}
  50% {left: 0px}
  75% {right: 16px}
  100% {right: 0px}
}